# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
**/.venv/
Snake_Residual.egg-info/
snake_mjlab.egg-info/

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*
**/eval_output/*
**/figures/

# Local training outputs (ignore by pattern)
**/model_*.pt
**/exported/
**/checkpoint/
**/videos/
**/videos*/

# Training logs and tensorboard events
2026-*/

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
/datasets/

# Tests
tests/

# history
.history/

# Docker history
.isaac-lab-docker-history

# Local evaluation outputs
sim2sim/eval_output_residual_80dim/

# MuJoCo log files
MUJOCO_LOG.TXT

# UV lock file
uv.lock
